<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>18/06/22 00:03:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLatestMenuTest.verifyLatest()[pri:0, instance:TestSuite.VerifyLatestMenuTest@2893de87]">verifyLatest</td> 
  <td>main@2025269734</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/06/22 00:04:22</td>   <td>28401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTemperatureTest.validateTemperature()[pri:0, instance:TestSuite.VerifyTemperatureTest@2c34f934]">validateTemperature</td> 
  <td>main@2025269734</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>18/06/22 00:04:35</td>   <td>41352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ButtonClick_SeeAllNewsTest.clickbuttonSeeAllNews()[pri:0, instance:TestSuite.ButtonClick_SeeAllNewsTest@55ca8de8]">clickbuttonSeeAllNews</td> 
  <td>main@2025269734</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/06/22 00:04:54</td>   <td>60316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyUnderlineTest.verifyWorldMenu()[pri:0, instance:TestSuite.VerifyUnderlineTest@12d3a4e9]">verifyWorldMenu</td> 
  <td>main@2025269734</td>   <td></td> </tr>
</table>
